#description {
    font-family: 'Roboto';
    font-size: 20px;
}
#food-supply-chain {
    background-image: url("crops.jpg");
    background-size: cover;
}
#medicine {
    background-image: url("medicine.jpg");
    background-size: cover;
}