#description {
    font-family: 'Roboto';
    font-size: 20px;
}
#food-supply-chain {
    background-image: url("crops.jpg");
    background-size: cover;
    height: 50vh;
    cursor: pointer;
}
#medicine {
    background-image: url("medicine.jpg");
    background-size: cover;
    height: 50vh;
    cursor: pointer;
}
.HomeContainer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}