.container-welcome {
  background-color: #6c64d3;
  height: 95vh; /* https://stackoverflow.com/questions/27612931/styling-html-and-body-selector-to-height-100-vs-using-100vh 100% height means that the child divs height is set as 100% of parent. 100vh means it is 100vh of viewing area */
}

.content-welcome {
  /* padding: 1% 2% 1% 2%; */
  border: 2px black;
  background-color: aliceblue;
  height: 70%;
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 2%;
  box-shadow: 5px 10px;
  overflow: hidden; /* https://stackoverflow.com/questions/21904239/border-radius-hidden-by-inner-div */
}

#left-bar{
  background-image: url('Image.jpeg');
  font-size: 20px;
  color: white;
  align-items: center;
  justify-content: center; /* This two properties justifies the content to the center height and width of left bar . It has to be used with display flex */
  display: flex;
}